{% extends 'todolist/baze.html' %}

{% block title %}
  App для грокнутых
{% endblock title %}

{% block body %}
  <h1> ТуДу лист </h1>
  <ul>
    <li><a href="{% url 'todolist:create' %}">Добавить дело</a></li>
  </ul>
  <h2>Дела на сегодня:</h2>
  <ul>
    {% for todoitem in todoitems %}
      <li>
        <a href ="{% url 'todolist:detail' todoitem.pk %}">{{todoitem.title}}
        {% if todoitem.done %}
          ✔️
        {% else %}
          ❌
        {% endif %}
        </a>
      </li>
    {% endfor %}

  </ul>
{% endblock body %}
